server:
  port: 8071

spring:
  application:
    name: configserver
  cloud:
    config:
      server:
        git:
          uri: https://github.com/simongawar/CMS-Project-config.git
          clone-on-start: true

eureka:
  instance:
    hostname: configserver
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://eurekaserver:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always
